.login-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
  }
  
  .login-form {
    background-color: #666;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 1);
    width: 100%;
    max-width: 400px;
  }
  
  .login-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
  }
  
  .form-group label {
    font-weight: 500;
    margin-bottom: 6px;
  }
  
  .form-group input {
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .submit-button {
    width: 100%;
    padding: 10px;
    background-color: #85a312;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .field-error {
    color: red;
    font-size: 0.85rem;
    margin-top: 5px;
  }
  
  .submit-button:hover {
    background-color: #4a5814;
  }
  
  .general-message {
    margin-top: 20px;
    color: #d9534f;
    text-align: center;
    font-weight: bold;
  }

  .password-input-container {
    display: flex;
    width: 100%;
    align-items: stretch; /* Żeby input i button miały tę samą wysokość */
  }
  
  .password-input-container input {
    flex: 1;
    border: 1px solid #ccc;
    border-right: none; /* żeby nie dublować granicy z buttonem */
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 4px 0 0 4px; /* zaokrąglenie tylko z lewej */
    outline: none;
  }
  
  .password-input-container .toggle-password {
    border: 1px solid #ccc;
    border-left: none; /* żeby nie dublować granicy z inputem */
    padding: 0 0.75rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 4px 4px 0; /* zaokrąglenie tylko z prawej */
    background-color: #333; /* lub dopasuj do tła inputa */
  }
  
  .password-input-container .toggle-password i {
    font-size: 1.2rem;
  }
  